<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  
<div id="step_1">
  <div class="homepage_text">
    <%= f.label :topic, 'I want to learn:' %><br />
    <%= f.text_field :topic, :class => "textInput" %>

<%= link_to_function 'go!', "$('#step_1').hide(); $('#step_2').show();"%>
</div>
  
</div>

<div id="step_2">
  <div class="field">
    <%= f.label :teachers_email, 'Who do you think might be able to teach this class? Enter his/her email address here.' %><br />
    <%= f.text_field :teachers_email %>
  </div>

<%= link_to_function 'continue >>', "$('#step_2').hide(); $('#step_3').show();"%>
</div>

<div id="step_3">
  <div class="field">
    <%= f.label :start_time, 'When are you available? Enter the start date and time here.' %><br />
    <%= f.datetime_select :start_time %>
  </div>

<%= link_to_function 'continue >>', "$('#step_3').hide(); $('#step_4').show();"%>
</div>

<div id="step_4">
  <div class="field">
    <%= f.label :end_time, 'How about the end date and time?' %><br />
    <%= f.datetime_select :end_time %>
  </div>

<%= link_to_function 'continue >>', "$('#step_4').hide(); $('#step_5').show();"%>
</div>

<div id="step_5">
  <div class="field">
    <%= f.label :student_email, "Do you want to invite any friends with you? Enter their emails here." %><br />
    <%= f.text_area :student_email %>
  </div>
  
<%= link_to_function 'continue >>', "$('#step_5').hide(); $('#step_6').show();"%>
</div>

<div id="step_6">
  <div class="field">
    <%= f.label :price, "You know your friend's time is valuable. Add a cover charge! Maybe they will go buy some snacks. We suggest $10/person." %><br />
    <%= f.text_field :price %>
  </div>
  
<%= link_to_function 'continue >>', "$('#step_6').hide(); $('#step_7').show();"%>
</div>

<div id="step_7">
  <div class="field">
    <%= f.label :body, "Add a message:" %><br />
    <%= f.text_area :body %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
</div>
<% end %>


<script type="text/javascript">
	$(document).ready(function() {
    $('#step_2, #step_3, #step_4, #step_5, #step_6, #step_7').hide();
	});
</script>