<%= form_for(@alphasignup) do |f| %>
  <% if @alphasignup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alphasignup.errors.count, "error") %> prohibited this alphasignup from being saved:</h2>

      <ul>
      <% @alphasignup.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div id="homepage_text">
  <div class="field">
    <%= f.label :course, 'I want to learn:' %><br />
    <%= f.text_field :course %>
  </div>
  <%= link_to_function 'go!', "$('#step_1').hide(); $('#step_2').show();"%>
</div>  
  
<div id="step2">
  <div class="field">
    <%= f.label :email 'What is your email?' %><br />
    <%= f.text_field :email %>
  </div>
</div>  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">
	$(document).ready(function() {
    $('#step_2').hide();
	});
</script>