<%= form_for(@alphasignup) do |f| %>
  <% if @alphasignup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alphasignup.errors.count, "error") %> prohibited this alphasignup from being saved:</h2>

      <ul>
      <% @alphasignup.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div id="step_1">
  <div class="homepage_text">
    <%= f.label :course, 'I want to learn:' %><br>
    <%= f.text_field :course, :class => "textinput", :id => "textInputCourse" %><br>

    <%= link_to_function (image_tag("../../../images/HourSchool_Viz_Home_Alpha_v1_03.png", :id => "applebutton")),      "$('#applebutton').hide(); $('#smalltext').hide(); $('#step_2').show();" %>
</div>
<div id="smalltext">
<strong>Other people have said:</strong><br><br><br>
boxing, doodling, skateboarding
</div>
</div>
</div>  
  
<div id="step_2">
  <div class="homepage_text">
    <%= f.label :email, 'What is your email?' %><br>
    <%= f.text_field :email, :class => "textinput", :id => "textInputEmail" %><br>
    <%= f.submit "sign up", :class => "actions" %>
  </div>
  <div id="smalltext">
 We're currently building our alpha. Sign up and we'll notify you when we launch!
  </div>
</div>
<% end %>

<script type="text/javascript">
	$(document).ready(function() {
    $('#step_2').hide();
	$("#textInputCourse").keypress(function(event){
	  if(event.keyCode == 13){
	  	event.preventDefault();
	    $("#applebutton").click();
	  }
});
	});
	
</script>