<%= form_for(@alphasignup) do |f| %>
  <% if @alphasignup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alphasignup.errors.count, "error") %> prohibited this alphasignup from being saved:</h2>

      <ul>
      <% @alphasignup.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div id="step_1">
  <div class="homepage_text">
    <%= f.label :course, 'I want to learn:' %><br />
    <%= f.text_field :course, :class => "textInput" %>
<%= link_to_function 'go!', "$('#step_1').hide(); $('#step_2').show();"%>
</div>
<div id="otherpeople">
Other people have said:
<a href="#">boxing</a>, <a href="#">doodling</a>, <a href="#">skateboarding</a>...
</div>
</div>  
  
<div id="step_2">
  <div class="homepage_text">
    <%= f.label :email, 'What is your email?' %><br />
    <%= f.text_field :email, :class => "textInput" %>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
  </div>
</div>
<% end %>

<script type="text/javascript">
	$(document).ready(function() {
    $('#step_2, #step_3, #step_4, #step_5, #step_6, #step_7').hide();
	});
</script>